*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0d1117;
color:white;
text-align:center;
padding:20px;
}

header{
font-size:30px;
font-weight:bold;
color:#00e676;
margin-bottom:20px;
}

.card{
background:#161b22;
padding:20px;
margin:15px;
border-radius:15px;
}

button{
width:90%;
padding:15px;
margin:8px;
border:0;
border-radius:12px;
background:#00c853;
color:white;
font-size:18px;
font-weight:bold;
}
